<p id="notice"><%= notice %></p>

<p>
  <b>Store name:</b>
  <%= @comment.store_name %>
</p>

<p>
  <b>Deal name:</b>
  <%= @comment.deal_name %>
</p>

<p>
  <b>Thumbs up:</b>
  <%= @comment.thumbs_up %>
</p>

<p>
  <b>Comments:</b>
  <%= @comment.comments %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
