<h1>Listing deals</h1>

<table>
  <tr>
    <th>Store name</th>
    <th>Deal name</th>
    <th>Day</th>
    <th>Location</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @deals.each do |deal| %>
  <tr>
    <td><%= deal.store_name %></td>
    <td><%= deal.deal_name %></td>
    <td><%= deal.day %></td>
    <td><%= deal.location %></td>
    <td><%= deal.price %></td>
    <td><%= link_to 'Show', deal %></td>
    <td><%= link_to 'Edit', edit_deal_path(deal) %></td>
    <td><%= link_to 'Destroy', deal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Deal', new_deal_path %>
