<h1>Listing dealocity_deals</h1>

<table>
  <tr>
    <th>Store name</th>
    <th>Is bar</th>
    <th>Deal description</th>
    <th>Price</th>
    <th>Address</th>
    <th>City</th>
    <th>Phone</th>
    <th>Rank</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dealocity_deals.each do |dealocity_deal| %>
  <tr>
    <td><%= dealocity_deal.store_name %></td>
    <td><%= dealocity_deal.is_bar %></td>
    <td><%= dealocity_deal.deal_description %></td>
    <td><%= dealocity_deal.price %></td>
    <td><%= dealocity_deal.address %></td>
    <td><%= dealocity_deal.city %></td>
    <td><%= dealocity_deal.phone %></td>
    <td><%= dealocity_deal.rank %></td>
    <td><%= link_to 'Show', dealocity_deal %></td>
    <td><%= link_to 'Edit', edit_dealocity_deal_path(dealocity_deal) %></td>
    <td><%= link_to 'Destroy', dealocity_deal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dealocity deal', new_dealocity_deal_path %>
