<p id="notice"><%= notice %></p>

<p>
  <b>Store name:</b>
  <%= @v2dealocity_deal.store_name %>
</p>

<p>
  <b>Is bar:</b>
  <%= @v2dealocity_deal.is_bar %>
</p>

<p>
  <b>Deal description:</b>
  <%= @v2dealocity_deal.deal_description %>
</p>

<p>
  <b>Address:</b>
  <%= @v2dealocity_deal.address %>
</p>

<p>
  <b>City:</b>
  <%= @v2dealocity_deal.city %>
</p>

<p>
  <b>Phone:</b>
  <%= @v2dealocity_deal.phone %>
</p>


<%= link_to 'Edit', edit_v2dealocity_deal_path(@v2dealocity_deal) %> |
<%= link_to 'Back', v2dealocity_deals_path %>
